@model Task_Management_Web.Dto.AddUserDto
@using Task_Management_Web.Enum

@{
    Layout = "~/Views/Shared/_Partial_Layout.cshtml";
}



<link href="~/css/add-user.css" rel="stylesheet" asp-append-version="true" />



@{
    ViewData["Title"] = "Add User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewData["Title"] = "Add User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-container">

    <div class="card shadow">

        <div class="card-header text-center text-white">
            <h4>Create User</h4>
            <small>Add new user details below</small>
        </div>

        <div class="card-body">

            <form asp-action="SaveUser" asp-controller="Account" method="post" enctype="multipart/form-data">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div>
                    <h4>@ViewBag.Message</h4>
                </div>

                <!-- Personal Info -->
                <h6 class="section-title">Personal Information</h6>

                <div class="row">

                    <div class="col-md-6 mb-3">
                        <label asp-for="FullName"></label>
                        <input asp-for="FullName" class="form-control" />
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label asp-for="Mobile"></label>
                        <input asp-for="Mobile" class="form-control" />
                        <span asp-validation-for="Mobile" class="text-danger"></span>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label asp-for="Role"></label>
                        <select asp-for="Role"  class="form-control">
                            <option value="">Select Role</option>
                            @foreach (var role in Enum.GetValues(typeof(RoleEnum)).Cast<RoleEnum>())
                            {
                                if (role != RoleEnum.Admin)   
                                {
                                    <option value="@((int)role)">@role</option>
                                }
                            }
                        </select>
                        <span asp-validation-for="Role" class="text-danger"></span>
                    </div>

                </div>

                <!-- Security -->
                <h6 class="section-title">Security</h6>

                <div class="row">

                    <div class="col-md-6 mb-3">
                        <label>Password</label>
                        <input asp-for="Password" type="password" id="password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label>Confirm Password</label>
                        <input asp-for="ConfirmPassword" type="password" id="confirmPassword" class="form-control" />
                        <span id="passError" class="text-danger"></span>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>

                </div>

                <!-- Address -->
                <div class="mb-3">
                    <label asp-for="Address"></label>
                    <textarea asp-for="Address" class="form-control"></textarea>
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>

                <!-- Image -->
                <div class="mb-3">
                    <label class="form-label">Profile Image</label>

                    <div class="image-upload-row">

                        <!-- Preview -->
                        <img id="preview" src="https://via.placeholder.com/100" class="preview-img" />

                        <!-- Upload Button -->
                        <input type="file"  asp-for=ProfilePicture class="form-control file-input" onchange="previewImage(event)" />

                    </div>
                </div>

                <!-- Status -->
                <div class="form-check mb-3">
                    <input asp-for="Status" class="form-check-input" />
                    <label class="form-check-label">Active User</label>
                </div>

                <!-- Buttons -->
                <div class="text-end">
                    <button type="reset" class="btn btn-secondary">Cancel</button>
                    <button type="submit" class="btn btn-primary" onclick="return validatePassword()">Save</button>

                    <a asp-action="Login" class="btn btn-light btn-outline-primary">Login</a>
                </div>

            </form>

        </div>
    </div>

</div>

@section Scripts {
    <script>
        function previewImage(event) {
            var reader = new FileReader();
            reader.onload = function () {
                document.getElementById("preview").src = reader.result;
            }
            reader.readAsDataURL(event.target.files[0]);
        }

        function validatePassword() {
            var p = document.getElementById("password").value;
            var c = document.getElementById("confirmPassword").value;

            if (p !== c) {
                document.getElementById("passError").innerText = "Passwords do not match";
                return false;
            }
            return true;
        }
    </script>
}


